@use '../variables'
@use '../mixins'

footer
   width: 100%
   padding: 1.6rem 3.2rem

   display: flex
   align-items: center
   justify-content: space-between

   background-color: variables.$blue-700

   .author-info
      font-size: variables.$font-size-smaller
      font-weight: 500

      div
         color: variables.$blue-100

   .social-media
      display: flex
      gap: 2.4rem

      a
         color: variables.$blue-100

   @include mixins.lg
      background: none
      justify-content: right

      .author-info
         text-align: right

      .social-media
         display: none
