@use '../variables'
@use '../mixins'

.wrapper
   grid-area: main
   width: 100%

   main
      max-width: 60rem
      padding: 7rem 3.2rem 5rem
      display: flex
      flex-direction: column
      gap: 16rem

      margin: 0 auto

      p
         font-size: 1.6rem
         line-height: 160%
         font-weight: 400
         margin-bottom: 1.6rem

         strong
            font-weight: 600

      .toggle-wrapper
         display: none

      @include mixins.md
         gap: 0
         max-width: 75rem
         padding-inline: 4.2rem

      @include mixins.lg
         max-width: 104rem

         .toggle-wrapper
            display: block
            position: absolute
            top: 46px
            right: 46px

.skills
   display: flex
   gap: 3.2rem
   flex-wrap: wrap
   align-content: flex-start

   div
      width: 16.2rem

   h3
      font-size: variables.$font-size-200
      font-weight: 400
      line-height: 140%

      margin-bottom: .8rem

   li
      list-style: none
      font-size: 1.6rem
      font-weight: 400
      line-height: 150%

.work
   display: grid
   gap: 9rem

   @include mixins.lg
      margin-left: -1.6rem

.message
   grid-area: info
   height: 40rem
   text-align: center

   @include mixins.xl
      width: 60rem

   p
      font-size: 2rem
      margin-top: 3.2rem

   button
      width: 20rem

.about-me, .contact-form
   @include mixins.xl
      max-width: 60rem

.about-me, .work
   @include mixins.md
      margin-bottom: 16rem
