@use '../variables'

.nav-bar 
   height: 100vh
   width: 16rem
   padding: 4rem 0

   background-color: variables.$blue-700 

   display: grid
   justify-items: center
   grid-template-areas: 'logo' 'nav' 'social'
   grid-template-rows: 110px auto 24px
   gap: 4rem


   #logo 
      margin: 0 auto

   ul 
      margin: 0 auto

      li 
         padding: .4rem 0
         font-size:  variables.$font-size-100
         list-style: none

      #active 
         color: variables.$light-200
   
   #social-media 
      grid-area: social
      
      display: flex
      gap: 1.6rem

      a
         color: variables.$blue-100

         &:hover 
            filter: brightness(1.5)

