@use '../variables.sass'
@use '../mixins.sass'

.work-card
   display: flex
   flex-direction: column
   gap: 1.6rem

   transition: .7s
   cursor: pointer

   img
      width: 100%

   h3
      font-size: variables.$font-size-300
      font-weight: 500

   div
      display: flex
      flex-wrap: wrap
      gap: .8rem

   @include mixins.md
      display: grid
      grid-template-columns: 200px auto
      grid-template-areas: "image projectInfo" "image techs" "image links"

      padding: 1.6rem

      position: relative

      &:after,
      &:before
         position: absolute
         content: ""
         width: 0
         height: 0
         transition: .5s

      &:after
         top: -1px
         left: -1px
         border-top: 1px solid transparent
         border-left: 1px solid transparent

      &:before
         bottom: -1px
         right: -1px
         border-bottom: 1px solid transparent
         border-right: 1px solid transparent

      &:hover::after,
      &:hover::before
         width: calc(100% + 1px)
         height: calc(100% + 1px)
         border-color: variables.$blue-300
         border: 2px solid variables.$blue-300

      img
         grid-area: image
         border: 1px solid variables.$dark-400

      .work-info
         grid-area: projectInfo

      .techs
         grid-area: techs

   .work-links
      grid-area: links
      margin: 1.6rem 0

      display: flex
      gap: 1.2rem

      @include mixins.md
         justify-content: space-around
         flex-wrap: nowrap

      a
         height: 5rem
         width: 100%

         display: flex
         align-items: center
         justify-content: center

         border: 1px solid variables.$light-500

         font-size: 1.4rem
         color: variables.$light-400
         background-color: variables.$blue-700

         z-index: 999

         transition: .2s

         &:hover
            border: 2px solid variables.$blue-100
            color: variables.$blue-100
            filter: drop-shadow(0px 0px 3px variables.$blue-100)
