@use 'variables'
@use 'mixins'

*
   margin: 0
   padding: 0
   box-sizing: border-box
   font-family: variables.$font-stack

:root
   font-size: 62.5%

.dark-theme
   background-color: variables.$background-dark
   color: variables.$text-dark

   h1
      color: variables.$title-dark

   h2
      color: variables.$subtitle-dark

   h3
      color: variables.$primary-dark

   strong
      color: variables.$primary-dark

   .title
      h2
         color: variables.$blue-100
   
   .toggle-wrapper 
      .toggle
         background-color: variables.$blue-100
         color: variables.$blue-700
      
      .switch
         left: 4px


   input, textarea
      border-color: variables.$blue-100
      color: variables.$text-dark

   label
      color: variables.$blue-100

   .submit-button
      color: variables.$light-100
      border-top: 1px solid variables.$blue-100
      border-left: none
      border-bottom: 1px solid variables.$blue-100
      // background: variables.$blue-transparent

      &:hover,
      &:active
         color: variables.$light-100
         // border: 1px solid variables.$blue-100
         // border: none

.light-theme
   background-color: variables.$background-light
   color: variables.$text-light

   h1
      color: variables.$title-light

   h2
      color: variables.$subtitle-light

   h3
      color: variables.$primary-light
      font-weight: 500 

   strong
      color: variables.$primary-light

   .toggle-wrapper 
      .toggle
         background-color: variables.$blue-700
         color: variables.$blue-100
      
      .switch
         transform: translateX(150%)

   .section-title
      &:after
         background-color: variables.$blue-300

   input, textarea
      border-color: variables.$blue-600
      color: variables.$text-light

   label
      color: variables.$blue-600

   #nav-wrapper.active-mobile-nav
      background-color: variables.$background-light

      .buttons button
         color: variables.$title-light

      nav ul li 
         &:after
            background-color: variables.$blue-700
         a
            color: variables.$blue-700

      .social-media a
         color: variables.$blue-700

         &:hover
            filter: none
            color: variables.$blue-300

   .submit-button
      border: none
      color: variables.$blue-700

   .title
      h2
         color: variables.$blue-600

      p
         color: variables.$dark-400

   footer
      color: variables.$light-400

      .author-info div
         color: variables.$blue-100

      @include mixins.md
         color: variables.$text-light

         .author-info div
            color: variables.$blue-300

.page-wrapper
   height: 100vh
   display: grid
   grid-template-areas: "header" "main"
   grid-template-rows: 116px 1fr

   @include mixins.lg
      grid-template-areas: "header main"
      grid-template-columns: 210px 1fr
      grid-template-rows: auto

a
   text-decoration: none

a, svg
   transition: .3s


/*   SCROLL BAR     */
   
/* Works on Firefox */
*
   scrollbar-width: thin
   scrollbar-color: variables.$light-500 variables.$light-300

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar
   width: .6rem

*::-webkit-scrollbar-track
   background: transparent

*::-webkit-scrollbar-thumb
   background-color: variables.$light-500
   border-radius: 1rem
