@use 'variables'

*
   margin: 0
   padding: 0
   box-sizing: border-box
   font-family: variables.$font-stack
   font-size: 62.5%

p, a, main, nav
   font-size: 1.6rem 

.dark-theme
   background-color: variables.$background-dark
   color: variables.$text-dark

.light-theme
   background-color: variables.$background-light
   color: variables.$text-light

a, svg
   transition: .4s


