$font-stack: 'Poppins', sans-serif

// COLORS
$light-100: #FFFFFF
$light-200: #F8F8FF
$light-300: #ECECF2
$light-400: #D9D9D9
$light-500: #BCBCBC

$dark-400: #696969
$dark-500: #404040

$blue-100: #82F3FF
$blue-200: #00E7FF
$blue-300: #00C4D9
$blue-600: #0F172A
$blue-700: #0B1120

$blue-transparent: rgba(0, 196, 217, 0.1)

// LIGHT-THEME
$primary-light: $blue-300
$background-light: $light-200
$title-light: $blue-700
$subtitle-light: $blue-600
$text-light: $dark-500

// DARK-THEME
$primary-dark: $blue-100
$background-dark: $blue-600
$title-dark: $light-200
$subtitle-dark: $light-300
$text-dark: $light-400
